<div class="mat-typography app-frame mat-app-background" fxLayout="column">
<mat-toolbar color="primary" class="mat-elevation-z15">
  {{title}}
  <span class="spacer"></span>
  <button mat-button color="primary">Primary</button>
  <a mat-button routerLink="/season"> Temporada</a>
  <a mat-button routerLink="/history"> Historial</a>
  <a mat-button routerLink="/persons"> Personas</a>
  <a mat-button routerLink="/event"> Evento</a>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
</div>